{% extends "layout.html" %}
{% block body %}

<div style="width:100%; display:inline-block; margin:15px 5px 30px 0px;">
		<div style="height:100%;">
				<p style="font-size:300%; margin:0px 5px;">
				<img src={{url_for('static', filename={{image_path}} )}} 
					 style="float:left; image-orientation:from-image;
							margin:0px 10px 0px 0px;" 
					 width="225">
				David Kooi
				</p>
		</div>
	    {% for line in info %}
			<p style="margin:2px 5px">{{line}}</p>
		{% endfor %}	
</div>

{% endblock %}
